.main {
    background: linear-gradient(90deg, #251D1A, #4E3427);
    > :global(.container) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        padding: 49px 30px;
    }
    @media (max-width: 800px) {
        > :global(.container) {
            padding: 34px 21px;
        }
    }
}