.main {
    background: white;
    > :global(.container) {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        column-gap: 30px;
    }
    > :global(.container > .right) {
        padding-top: 112px;
    }
    :global {
        .photo {
            display: flex;
            flex-shrink: 0;
            width: 423px;
            height: 616px;
            background: url("./assets/photo.png");
            background-size: cover;
        }
        .paragraph {
            margin-top: 34px;
        }
    }
}