.main {
    width: 100%;
    > :global(.container) {
        width: var(--width, 1100px);
        margin: auto;
    }
    :global {
        .subtitle {
            color: white;
            font: normal 36px "Raleway Medium";
            margin: 0px;
        }
        .title {
            margin: 0px;
            &.type-1 {
                color: white;
                font: normal var(--size, 52px) "Raleway ExtraBold";
                line-height: 70px;
            }
            &.type-2 {
                color: #555555;
                font: normal var(--size, 22px) "Raleway SemiBold";
                line-height: 30px;
            }
            &.type-3 {
                color: white;
                font: normal var(--size, 28px) "Raleway Regular";
                > .select {
                    color: #C7B299;
                }
            }
            &.type-4 {
                color: white;
                font: normal var(--size, 30px) "Raleway Medium";
            }
        }
        .paragraph {
            margin: 0px;
            width: var(--width);
            &.type-1 {
                color: var(--color, #dbdada);
                font: normal var(--size, 16px) "Montserrat Light";
                margin-top: 10px;
                width: var(--width, 560px);
                line-height: var(--line, 24px);
            }
            &.type-2 {
                color: var(--color, #8C8C8C);
                font: normal var(--size, 14px) "Montserrat Light";
                line-height: var(--line, 24px);
            }
            &.type-3 {
                color: var(--color, #615855);
                font: normal var(--size, 18px) "Montserrat Light";
                line-height: var(--line, 1.77);
            }
        }
        .button {
            background: #998675;
            border: none;
            color: white;
            font: normal 14px "Raleway ExtraBold";
            padding: 18px 35px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 4px;
            border-bottom: 3px solid #736357;
        }
        .tabs {
            > .list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 9px;
                > .item {
                    background: white;
                    border: 1px solid #EBEBEB;
                    border-radius: 4px;
                    min-width: 71px;
                    font: normal 14px "Montserrat Light";
                    padding: 11px 25px;
                    cursor: pointer;
                    color: #8C8C8C;
                    &.active {
                        background: #998675;
                        border: none;
                        color: white;
                        cursor: default;
                    }
                }
            }
            > .content {
                margin-top: 39px;
            }
        }
        .flex {
            display: flex;
        }
        ul.list {
            display: flex;
            flex-direction: column;
            row-gap: 11px;
            list-style: none;
            padding-left: 46px;
            margin: 39px 0px;
            > .item {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font: normal 16px "Montserrat Light";
                color: #8C8C8C;
                &:before {
                    display: inline-flex;
                    width: 22px;
                    height: 22px;
                    margin-right: 29px;
                    content: url("./assets/list-arrow.png");
                }
            }
        }
        @media (max-width: 800px) {
            .subtitle {
                font-size: 18px;
            }
            .title {
                &.type-1 {
                    font-size: 22px;
                    line-height: 2;
                }
                &.type-2 {
                    font-size: 19px;
                    line-height: 1.2;
                }
                &.type-3 {
                    font-size: 20px;
                }
            }
            .paragraph {
                width: auto;
                &.type-1 {
                    font-size: 14px;
                    width: 80%;
                }
                &.type-2 {
                    font-size: 13px;
                    line-height: 1.4; 
                }
                &.type-3 {
                    font-size: 14px;
                }
            }
            .button {
                padding: 14px 27px;
            }
            .tabs {
                > .list {
                    > .item {
                        padding: 9px 20px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    @media (max-width: 1100px) {
        > :global(.container) {
            width: 100%;
        }
    }
}