.main {
    width: 100%;
    > :global(.container) {
        width: var(--width, 1100px);
        margin: auto;
    }
    :global {
        .subtitle {
            color: white;
            font: normal 36px "Raleway Medium";
            margin: 0px;
        }
        .title {
            margin: 0px;
            &.type-1 {
                color: white;
                font: normal var(--size, 52px) "Raleway ExtraBold";
                line-height: 70px;
            }
            &.type-2 {
                color: #555555;
                font: normal var(--size, 22px) "Raleway SemiBold";
                line-height: 30px;
            }
            &.type-3 {
                color: white;
                font: normal var(--size, 28px) "Raleway Regular";
                > .select {
                    color: #C7B299;
                }
            }
        }
        .paragraph {
            margin: 0px;
            width: var(--width);
            &.type-1 {
                color: #dbdada;
                font: normal var(--size, 16px) "Montserrat Light";
                margin-top: 10px;
                width: var(--width, 560px);
            }
            &.type-2 {
                color: #8C8C8C;
                font: normal var(--size, 14px) "Montserrat Light";
                line-height: 24px;
            }
            &.type-3 {
                color: #615855;
                font: normal var(--size, 18px) "Montserrat Light";
                line-height: 32px;
            }
        }
        .button {
            background: #998675;
            border: none;
            color: white;
            font: normal 14px "Raleway ExtraBold";
            padding: 18px 35px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 4px;
            border-bottom: 3px solid #736357;
        }
    }
}