.main {
    padding: 79px 0px;
    background: white;
    :global {
        .services {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            justify-content: center;
            align-items: flex-end;
            padding: 0px 30px;
            @media (max-width: 950px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 400px) {
                grid-template-columns: 1fr;
            }
        }
        .service {
            &.active {
                > .icon {
                    --color: #C7B299;
                }
                > .title {
                    color: #C7B299;
                }
                > .line {
                    --color: #C7B299;
                }
            }
            > .icon {
                display: flex;
                margin: auto;
                > path {
                    fill: var(--color, #555555);
                }
            }
            > .title {
                margin-top: 20px;
            }
            > .paragraph {
                margin-top: 10px !important;
            }
            > .line {
                display: flex;
                margin: auto;
                width: 71px;
                height: 3px;
                background: var(--color, #F1EEE9);
                border-radius: 1.5px;
                margin-top: 29px; 
            }
        }
    }
}