.main {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 39px 0px;
    > :global(.container) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
        margin: auto;
    }
    > :global(.container > .right) {
        display: flex;
    }
    :global {
        .logo {
            display: inline-flex;
            width: 182px;
            height: 57px;
            cursor: pointer;
            &:hover {
                * {
                    fill: #C7B299;
                }
            }
            > * {
                fill: white;
            }
            > text {
                font: normal 34px "Raleway Regular";
            }
        }
        .nav {
            display: flex;
            column-gap: 30px;
            margin-right: 62px;
            > .link {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                color: white;
                font: normal 15px "Raleway Medium";
                &:hover {
                    color: #b9b9b9;
                }
                &.active {
                    color: #C7B299;
                    cursor: default;
                }
            }
        }
        .basket {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            margin-right: 27px;
            &:hover {
                > .icon {
                    fill: #b9b9b9;
                }
            }
            &.active {
                cursor: default;
                > .icon {
                    fill: #C7B299;
                }
            }
            > .icon {
                width: 19px;
                height: 26px;
                fill: white;
            }
        }
        .search {
            display: inline-flex;
            > .button {
                display: inline-flex;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0px;
                &:hover {
                    > .icon {
                        fill: #b9b9b9;
                    }
                }
                > .icon {
                    width: 25px;
                    height: 26px;
                    fill: white;
                }
            }
        }
    }
}